@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
:root{
	--principal-color: #F0CB2A;
	--secondary-color: #855136;
	--box-color: #F0F0F0;
}

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
}

/*inicio del menu*/
header{
    width: 100%;
    max-width: 100% ;

}


/*inicio del menu*/
header{
    width: 100%;
    max-width: 100% ;
	background-color: var(--principal-color);
    font-family: 'Open Sans', sans-serif;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5 ease;
}

.nav.active{
	background-color: var(--secondary-color);
    padding: 15px;
}

.nav.active .logomm,
.nav.active a{
    color: #fff;
}

.nav.active a:hover{
    background: #fff;
    color: #000;
}

.logomm{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logomm img{
	width: 110px;
	min-width: 150px;
	padding: 5px;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin: 10px;
}


.menu li a{
    color : #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px;
}

/*fin del menu */

.slogan{
    margin: 120px auto;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
}

.tx1{
    font-weight: bold;
    color: #F0F0F0;
    z-index: -1;
}

.tx2{
    font-weight: lighter;
    color: #F0CB2A;
    
    position: absolute;
    left: 225px;
    top: 155px;
}

.contenedor{
    display: flex;
	width: 100%;
	min-height: 100vh;
    flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.mis{
    padding: 20px;
    width: 50%;
    background-color: var(--box-color);
    border-radius: 10px;
    margin: 20px  20px;
    font-size: 1.1em;
	min-width: 250px;
}

.mis h1{
    margin-bottom: 10px;
}

.mis hr{
    margin-bottom: 10px;
}

.sectionmis-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}


.slider{
    width: 28.5%;
    background-color: var(--box-color);
    border-radius: 10px;
    overflow: hidden;
}

li img{
    width: 550px;
    height: 600px;
}

.slider ul{
    list-style: none;
    width: 600px;
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 100%;
}

.slider li{
    width: 100%;
    list-style: none;
}

.his img{
    width: 100%;
    height: 100%;
}


@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    70%{margin-left: -100%;}

    75%{margin-left: -200%;}
    100%{margin-left: -200%;}    
}

.his img{
    width: 100%;
}



.his hr{
    color: #F0CB2A;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

hr{
    background-color: var(--principal-color);
}

footer{
	background-color: var(--principal-color);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Open Sans', sans-serif;
}
